/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
    margin: 0;
    padding: 0;
}

/* Barre de navigation */
.navbar {
    background-color: #333;
    color: white;
    overflow: hidden;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}

/* En-tête */
.header {
    background-color: #eee;
    color: black;
    text-align: center;
    padding: 20px 0;
}

/* Section Jeux en Vedette */
.featured-games {
    text-align: center;
    padding: 20px;
    background-color: white;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.game {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

.game img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Pied de page */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
